section ul {
  --x: 0;
  --y: 0;
  --z: 0;
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: var(--cube-size);
  height: var(--cube-size);
  list-style: none;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.64, 0.35, 0.26, 1.4);
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    rotateZ(var(--rotateZ))
    translateX(calc(var(--x) * var(--cube-size) + var(--cube-size)))
    translateY(calc(var(--y) * var(--cube-size) + var(--cube-size)))
    translateZ(calc(var(--z) * var(--cube-size) + var(--cube-size)));
  transform-origin: var(--half-size) var(--half-size) var(--half-size);
}

section ul li {
  box-sizing: border-box;
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  transform-origin: center center var(--half-cube-size);
  border: calc(var(--cube-size) / 10) solid black;
}

section ul li:nth-child(1) {
  background: var(--front-side, black);
  transform: translateZ(var(--cube-size));
}

section ul li:nth-child(2) {
  background: var(--left-side, black);
  transform: rotateY(0.25turn);
}

section ul li:nth-child(3) {
  background: var(--back-side, black);
  transform: rotateY(0.5turn) translateZ(var(--cube-size));
}

section ul li:nth-child(4) {
  background: var(--right-side, black);
  transform: rotateY(0.75turn);
}

section ul li:nth-child(5) {
  background: var(--top-side, black);
  transform: rotateX(-0.25turn);
}

section ul li:nth-child(6) {
  background: var(--bottom-side, black);
  transform: rotateX(0.25turn);
}

main section ul:nth-of-type(1) {
  --front-side: var(--red);
  --left-side: var(--blue);
  --top-side: var(--yellow);
  --x: -1;
  --y: -1;
  --z: 1;
}

main section ul:nth-of-type(2) {
  --top-side: var(--yellow);
  --front-side: var(--red);
  --x: 0;
  --y: -1;
  --z: 1;
}

main section ul:nth-of-type(3) {
  --front-side: var(--red);
  --top-side: var(--yellow);
  --right-side: var(--green);
  --x: 1;
  --y: -1;
  --z: 1;
}

main section ul:nth-of-type(4) {
  --front-side: var(--red);
  --left-side: var(--blue);
  --x: -1;
  --y: 0;
  --z: 1;
}

main section ul:nth-of-type(5) {
  --front-side: var(--red);
  --x: 0;
  --y: 0;
  --z: 1;
}

main section ul:nth-of-type(6) {
  --front-side: var(--red);
  --right-side: var(--green);
  --x: 1;
  --y: 0;
  --z: 1;
}

main section ul:nth-of-type(7) {
  --front-side: var(--red);
  --bottom-side: var(--orange);
  --left-side: var(--blue);
  --x: -1;
  --y: 1;
  --z: 1;
}

main section ul:nth-of-type(8) {
  --front-side: var(--red);
  --bottom-side: var(--orange);
  --x: 0;
  --y: 1;
  --z: 1;
}

main section ul:nth-of-type(9) {
  --bottom-side: var(--orange);
  --front-side: var(--red);
  --right-side: var(--green);
  --x: 1;
  --y: 1;
  --z: 1;
}

main section ul:nth-of-type(10) {
  --left-side: var(--blue);
  --top-side: var(--yellow);
  --x: -1;
  --y: -1;
  --z: 0;
}

main section ul:nth-of-type(11) {
  --top-side: var(--yellow);
  --x: 0;
  --y: -1;
  --z: 0;
}

main section ul:nth-of-type(12) {
  --top-side: var(--yellow);
  --right-side: var(--green);
  --x: 1;
  --y: -1;
  --z: 0;
}

main section ul:nth-of-type(13) {
  --left-side: var(--blue);
  --x: -1;
  --y: 0;
  --z: 0;
}

main section ul:nth-of-type(15) {
  --right-side: var(--green);
  --x: 1;
  --y: 0;
  --z: 0;
}

main section ul:nth-of-type(16) {
  --left-side: var(--blue);
  --bottom-side: var(--orange);
  --x: -1;
  --y: 1;
  --z: 0;
}

main section ul:nth-of-type(17) {
  --bottom-side: var(--orange);
  --x: 0;
  --y: 1;
  --z: 0;
}

main section ul:nth-of-type(18) {
  --right-side: var(--green);
  --bottom-side: var(--orange);
  --x: 1;
  --y: 1;
  --z: 0;
}

main section ul:nth-of-type(19) {
  --left-side: var(--blue);
  --top-side: var(--yellow);
  --back-side: var(--white);
  --x: -1;
  --y: -1;
  --z: -1;
}

main section ul:nth-of-type(20) {
  --top-side: var(--yellow);
  --back-side: var(--white);
  --x: 0;
  --y: -1;
  --z: -1;
}

main section ul:nth-of-type(21) {
  --top-side: var(--yellow);
  --right-side: var(--green);
  --back-side: var(--white);
  --x: 1;
  --y: -1;
  --z: -1;
}

main section ul:nth-of-type(22) {
  --left-side: var(--blue);
  --back-side: var(--white);
  --x: -1;
  --y: 0;
  --z: -1;
}

main section ul:nth-of-type(23) {
  --back-side: var(--white);
  --x: 0;
  --y: 0;
  --z: -1;
}

main section ul:nth-of-type(24) {
  --back-side: var(--white);
  --right-side: var(--green);
  --x: 1;
  --y: 0;
  --z: -1;
}

main section ul:nth-of-type(25) {
  --left-side: var(--blue);
  --back-side: var(--white);
  --bottom-side: var(--orange);
  --x: -1;
  --y: 1;
  --z: -1;
}

main section ul:nth-of-type(26) {
  --back-side: var(--white);
  --bottom-side: var(--orange);
  --x: 0;
  --y: 1;
  --z: -1;
}

main section ul:nth-of-type(27) {
  --right-side: var(--green);
  --back-side: var(--white);
  --bottom-side: var(--orange);
  --x: 1;
  --y: 1;
  --z: -1;
}
