[name^='screensaver']:checked ~ main {
  background: black;
}

[name^='screensaver']:checked ~ input,
[name^='screensaver']:checked ~ label {
  display: none;
}

[name^='screensaver']:checked ~ main section {
  animation: screensaver 20s ease infinite;
}

[name^='screensaver']:checked
  ~ main
  section
  > ul:not(:nth-of-type(4)):not(:nth-of-type(5))
  li:nth-child(-n + 3) {
  animation: screensaver-y 4s ease-in-out infinite alternate;
}
[name^='screensaver']:checked
  ~ main
  section
  > ul:not(:nth-of-type(4)):not(:nth-of-type(5))
  li:nth-last-child(-n + 3) {
  animation: screensaver-y 3.2s 0.3s ease-in-out infinite alternate;
}

[name^='screensaver']:checked ~ main section > ul:nth-of-type(4) {
  animation: screensaver-y-top 4s ease-in-out infinite alternate;
}

[name^='screensaver']:checked ~ main section > ul:nth-of-type(5) {
  animation: screensaver-y-bottom 3.2s 0.3s ease-in-out infinite alternate;
}

@keyframes screensaver {
  from {
    top: 20%;
    left: 20%;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  30% {
    top: 40%;
    left: 60%;
    transform: rotate3d(1, 3, 0.4, 180deg);
  }
  60% {
    top: 60%;
    left: 30%;
    transform: rotate3d(0.5, 0.3, 0.4, 270deg);
  }
  100% {
    top: 20%;
    left: 20%;
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes screensaver-y-top {
  from {
    transform: rotateY(0turn) rotateX(270deg);
  }
  to {
    transform: rotateY(4turn) rotateX(270deg);
  }
}

@keyframes screensaver-y-bottom {
  from {
    transform: rotateY(0turn) rotateX(90deg);
  }
  to {
    transform: rotateY(4turn) rotateX(90deg);
  }
}

@keyframes screensaver-y {
  from {
    transform: rotateY(0turn);
  }
  to {
    transform: rotateY(4turn);
  }
}
