/* Perspective approach inspired by https://github.com/diervo/html5rubik/blob/master/rubik.css */
/* HTML and CSS layout already set before implementing perspective */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --size: clamp(10rem, 15vw, 15rem);
  --half-size: calc(var(--size) / 2);
  --bg-1: red;
  --bg-2: green;
  --bg-3: blue;
  --bg-4: yellow;
  --bg-5: white;
  --bg-6: orange;
}

main {
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  perspective: calc(clamp(10rem, 15vw, 20rem) * 4);
  animation: cube-container-animation 20s ease infinite;
}

main > section {
  transform-style: preserve-3d;
  animation: cube-animation 5s linear infinite;
  transform-origin: var(--half-size) var(--half-size) var(--half-size);
}

section > div {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  transform-origin: var(--half-size) var(--half-size) var(--half-size);
}

div > div {
  width: calc(var(--size) / 3);
  height: calc(var(--size) / 3);
  border: calc(var(--size) / 30) solid black;
}

section > div:first-of-type {
  transform: translateZ(0);
  background: var(--bg-1);
}

section > div:nth-of-type(2) {
  transform: rotateY(90deg);
  background: var(--bg-2);
}

section > div:nth-of-type(3) {
  transform: rotateY(-90deg);
  background: var(--bg-3);
}

section > div:nth-of-type(4) {
  transform: rotateX(-90deg);
  background: var(--bg-4);
}

section > div:nth-of-type(5) {
  transform: rotateX(90deg);
  background: var(--bg-5);
}

section > div:nth-of-type(6) {
  transform: translateZ(var(--size));
  background: var(--bg-6);
}

@keyframes cube-animation {
  from {
    transform: rotateZ(0turn) rotateY(0turn);
  }
  to {
    transform: rotateZ(1turn) rotateY(1turn);
  }
}

@keyframes cube-container-animation {
  from {
    top: 20%;
    left: 20%;
  }
  30% {
    top: 40%;
    left: 60%;
  }
  60% {
    top: 60%;
    left: 30%;
  }
  100% {
    top: 20%;
    left: 20%;
  }
}
